<!doctype html>
<html>

<body>
    <!-- nav.html을 첨부해줘 ejs파일에서만가능 아니면 jquery써야함-->
    <%- include('nav.html') %>
        <br>
        <div class="input-group mb-3 container">
            <input type="text" class="form-control" id="main-input">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">전송</button>
            </div>
        </div>


        <script src="jQuery 설치한곳"></script>
        <script src="socket.io 설치한곳"></script>

        <script>
            var socket = io();

            $('#button-addon2').click(function () {
                socket.emit('인삿말', $('#main-input').val());
            });

        </script>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
        <script src="/public/main.js" defer></script>
</body>

</html>