<!doctype html>
<html>

<body>
  <!-- nav.html을 첨부해줘 ejs파일에서만가능 아니면 jquery써야함-->
  <%- include('nav.html') %>

    <div class="container mt-4">
      <h4 class="text-center">상세 페이지</h4>

      <div class="container mt-3">
        <div class="card" style="width: 100%">
          <div class="card-body">
            <h5 class="card-title">
              <%= data.제목 %>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
              <%= data.날짜 %>
            </h6>
            <p class="card-text">임시내용입니다.</p>
            <a href="#" class="card-link">수정하기</a>
          </div>
        </div>
      </div>

      <script src="/public/main.js" defer></script>
</body>

</html>