<!DOCTYPE html>
<html>

<body>

    <!-- nav.html을 첨부해줘 ejs파일에서만가능 아니면 jquery써야함-->
    <%- include('nav.html') %>

        <!-- (여긴 다른 페이지에 있던 <nav></nav> 태그 전부) -->

        <div class="container mt-4">
            <form action="/edit?_method=PUT" method="POST">
                <div class="form-group">
                    <label>할일</label>
                    <!-- edit 페이지에서 전송버튼 누르면 input의 value들이 전부 폼으로 전송되는데, 함께 전송될 input을 하나 만들어 준 것 -->
                    <!-- 그 input에는 사용자가 수정요청하는 게시물의 _id를 적어주는 것 -->
                    <!-- 그럼 총 3개의 input 데이터가 서버로 전송된다 (제목,날짜,id) -->
                    <input value="<%= post._id %>" name="id" style="display : none">
                    <input value="<%= post.제목 %>" type="text" class="form-control" name="title">
                </div>
                <div class="form-group">
                    <label>Due date</label>
                    <input value="<%= post.날짜 %>" type="text" class="form-control" name="date">
                </div>
                <button type="submit" class="btn btn-outline-secondary">Submit</button>
            </form>
        </div>

        <script src="/public/main.js" defer></script>
</body>

</html>