<!DOCTYPE html>
<html>

<body>
  <!-- nav.html을 첨부해줘 ejs파일에서만가능 아니면 jquery써야함-->
  <%- include('nav.html') %>

    <section class="index-form">
      <h2>
        <%= 사용자.id %>님 반가워요. 
        <br> 오늘도 할일을 채워나가요
      </h2>
    </section>

    <script src="/public/main.js" defer></script>
</body>

</html>