<!DOCTYPE html>
<html>

<body>
  <!-- nav.html을 첨부해줘 ejs파일에서만가능 아니면 jquery써야함-->
  <%- include('nav.html') %>

    <section class="login-form">
      <h1>Sign Up</h1>
      <form action="/signup" method="POST">
        <div class="int-area">
          <input type="text" name="id" autocomplete="off" required>
          <label for="id">ID</label>
        </div>
        <div class="int-area">
          <input type="password" name="pw" autocomplete="off" required>
          <label for="pw">PASSWORD</label>
        </div>
        <div class="int-area">
          <input type="text" name="address" autocomplete="off" required>
          <label for="pw">ADDRESS</label>
        </div>
        <div class="int-area">
          <input type="text" name="mail" autocomplete="off" required>
          <label for="pw">Mail</label>
        </div>
        <div class="btn-area">
          <button type="submit">Sign UP</button>
        </div>
      </form>
    </section>

    <script src="/public/main.js" defer></script>
</body>

</html>