<!DOCTYPE html>
<html>

<body>

  <!-- nav.html을 첨부해줘 ejs파일에서만가능 아니면 jquery써야함-->
  <%- include('nav.html') %>

    <!-- (여긴 다른 페이지에 있던 <nav></nav> 태그 전부) -->
    <section class="login-form">
      <h1>관리 목록을 작성해주세요</h1>

      <div class="container mt-3">
        <form action="/add" method="POST">
          <div class="int-area">
            <input type="text" name="title" autocomplete="off" required>
            <label for="할일">할일</label>
          </div>
          <div class="int-area">
            <input type="text" name="date" autocomplete="off" required>
            <label>Due date</label>
          </div><br>
          <div class="btn-area">
            <button type="submit">Submit</button>
          </div>
        </form>
      </div>
    </section>

    <script src="/public/main.js" defer></script>
</body>

</html>