<!DOCTYPE html>
<html>

<body>

  <!-- nav.html을 첨부해줘 ejs파일에서만가능 아니면 jquery써야함-->
  <%- include('nav.html') %>

    <!-- (여긴 다른 페이지에 있던 <nav></nav> 태그 전부) -->
    <section class="login-form">
      <h1>관리 목록을 작성해주세요</h1>

      <div class="container mt-3">
        <!-- 폼 전송버튼을 누를 시 /add 라는 경로로 POST 요청을 하는 폼. -->
        <!-- form 태그의 method 속성은 GET/POST 중 어떤 요청을 할 건지 정해주는 부분, action은 어떤 경로로 요청할건지를 정해주는 부분. -->
        <!-- method, action을 채워넣으면 이제 전송버튼을 누를 때마다 서버에 input에 담긴 데이터들을 전송하게 된다.-->
        <!-- input 마다 name 속성을 이용해 각각의 input에 이름을 써줄 것.-->
        <!-- 폼 전송할 때 input에 이름이 없으면 서버에서 이게 어떤 input에 적혔던 데이터인지 알 수 없으므로.-->
        <form action="/add" method="POST">
          <div class="int-area">
            <input type="text" name="title" autocomplete="off" required>
            <label for="할일">할일</label>
          </div>
          <div class="int-area">
            <input type="text" name="date" autocomplete="off" required>
            <label>Due date</label>
          </div><br>
          <div class="btn-area">
            <button type="submit">Submit</button>
          </div>
        </form>
      </div>
    </section>

    <script src="/public/main.js" defer></script>
</body>

</html>